html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#spin {
    position: fixed;
    height: 4%;
    width: 4%;
    top: 48%;
    left: 48%;
}

.search-input {
    height: 20px;
    width: 150px;
    margin: 10px 0 5px 0;
}

.search-button {
    float:right;
    margin: 10px 15px 5px 0px;
    -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
    background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
    background-color:#9dce2c;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    text-indent:0;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    height:26px;
    line-height:22px;
    width:40px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.search-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
    background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
    background-color:#8cb82b;
}
.search-button:active {
     position:relative;
     top:1px;
 }

#searchbox {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    height: 60px;
    width: 220px;
    top: 10%;
    left: 10%;
    padding: 10px;
    background: white;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
}
